In [9]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

In [10]:
df = pd.read_csv('../data1/df_total.csv', index_col=0)

/var/folders/0_/bh771p3x6hb6g0t8b2hm6kch0000gp/T/ipykernel_39850/2978920387.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data1/df_total.csv', index_col=0)

In [11]:
df.head()

   TeamID     TeamName  Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc
0  1101.0  Abilene Chr     0.0     0.0      0.0     0.0      0.0     0.0    0
1  1102.0    Air Force     0.0     0.0      0.0     0.0      0.0     0.0    0
2  1103.0        Akron     0.0     0.0      0.0     0.0      0.0     0.0    0
3  1104.0      Alabama     0.0     0.0      0.0     0.0      0.0     0.0    0
4  1105.0  Alabama A&M     0.0     0.0      0.0     0.0      0.0     0.0    0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 189381 entries, 0 to 2450
Data columns (total 9 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   TeamID    378 non-null     float64
 1   TeamName  378 non-null     object
 2   Season    189381 non-null  float64
 3   DayNum    189381 non-null  float64
 4   WTeamID   189381 non-null  float64
 5   WScore    189381 non-null  float64
 6   LTeamID   189381 non-null  float64
 7   LScore    189381 non-null  float64
 8   WLoc      189381 non-null  object
dtypes: float64(7), object(2)
memory usage: 14.4+ MB