# Transformation 
In this notebook, we will focus on addressing outliers identified during our Exploratory Data Analysis (EDA) and removing some columns that are deemed less important for our dataset. Building on our EDA findings, we will concentrate on adjusting the following columns to refine our data further.
- DayNum: The reason we are dropping this is because we are not interested in knowing this section 
- NumOT: we are dropping this column because It will not be important to analysis our data set
- WFGM: We Are not interested in Learning more about the Field goal of the team 
- WFGA: This is another one which is almost the same as WFGM but this is for assists
- Season: The reason why we are dropping this is because we do not have to worry about it anymore since all we wanted was to have the latest status for the upcoming tournoment.
- LFGM
- LFGA
Additionally, during our EDA, we observed that there are instances in our dataset where the location of the basketball game's winner is recorded as 0. This information corresponds to whether the game was won on Home court, Away court, or Neutral court.

In [52]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

In [69]:
df = pd.read_csv("../data2/MNCAATourneyDetailedResults.csv")

In [70]:
df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248 entries, 0 to 1247
Data columns (total 34 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Season   1248 non-null   int64
 1   DayNum   1248 non-null   int64
 2   WTeamID  1248 non-null   int64
 3   WScore   1248 non-null   int64
 4   LTeamID  1248 non-null   int64
 5   LScore   1248 non-null   int64
 6   WLoc     1248 non-null   object
 7   NumOT    1248 non-null   int64
 8   WFGM     1248 non-null   int64
 9   WFGA     1248 non-null   int64
 10  WFGM3    1248 non-null   int64
 11  WFGA3    1248 non-null   int64
 12  WFTM     1248 non-null   int64
 13  WFTA     1248 non-null   int64
 14  WOR      1248 non-null   int64
 15  WDR      1248 non-null   int64
 16  WAst     1248 non-null   int64
 17  WTO      1248 non-null   int64
 18  WStl     1248 non-null   int64
 19  WBlk     1248 non-null   int64
 20  WPF      1248 non-null   int64
 21  LFGM     1248 non-null   int64
 22  LFGA     1248 non-null   int64
 23  LFGM3    1248 non-null   int64
 24  LFGA3    1248 non-null   int64
 25  LFTM     1248 non-null   int64
 26  LFTA     1248 non-null   int64
 27  LOR      1248 non-null   int64
 28  LDR      1248 non-null   int64
 29  LAst     1248 non-null   int64
 30  LTO      1248 non-null   int64
 31  LStl     1248 non-null   int64
 32  LBlk     1248 non-null   int64
 33  LPF      1248 non-null   int64
dtypes: int64(33), object(1)
memory usage: 331.6+ KB

In [72]:
df.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

We are going to Beginning with removing the columns we mention and saving it as we go throught the dataset

In [73]:
df.drop(['DayNum', 'NumOT', 'WFGM','WFGA','Season','LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst','LScore','LTO', 'LStl', 'LBlk', 'LPF','LTeamID','WLoc'], axis =1, inplace=True)

In [74]:
df.head()

,WTeamID,WScore,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF
0,1421,92,11,29,17,26,14,30,17,12,5,3,22
1,1112,80,7,23,11,14,11,36,22,16,10,7,8
2,1113,84,6,14,16,22,10,27,18,9,7,4,19
3,1141,79,3,7,18,25,11,20,15,18,13,1,19
4,1143,76,7,20,15,23,18,20,17,13,8,2,14

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248 entries, 0 to 1247
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   WTeamID  1248 non-null   int64
 1   WScore   1248 non-null   int64
 2   WFGM3    1248 non-null   int64
 3   WFGA3    1248 non-null   int64
 4   WFTM     1248 non-null   int64
 5   WFTA     1248 non-null   int64
 6   WOR      1248 non-null   int64
 7   WDR      1248 non-null   int64
 8   WAst     1248 non-null   int64
 9   WTO      1248 non-null   int64
 10  WStl     1248 non-null   int64
 11  WBlk     1248 non-null   int64
 12  WPF      1248 non-null   int64
dtypes: int64(13)
memory usage: 126.9 KB

In [ ]:
df.to_csv('Machine_file.csv', index=False)