In [5]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from scipy import stats 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report
from sklearn.datasets import make_classification
from sklearn.datasets import make_regression
from scipy.stats import randint
from pprint import pprint
from sklearn.tree import export_graphviz
from IPython.display import Image
#import graphviz
from sklearn import decomposition
from sklearn import datasets
from mpl_toolkits.mplot3d import Axes3D

In [6]:
df = pd.read_csv('../data1/df_total.csv', index_col=0)

/var/folders/0_/bh771p3x6hb6g0t8b2hm6kch0000gp/T/ipykernel_57223/2978920387.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data1/df_total.csv', index_col=0)

In [7]:
df.head()

   TeamID     TeamName  Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc
0  1101.0  Abilene Chr     0.0     0.0      0.0     0.0      0.0     0.0    0
1  1102.0    Air Force     0.0     0.0      0.0     0.0      0.0     0.0    0
2  1103.0        Akron     0.0     0.0      0.0     0.0      0.0     0.0    0
3  1104.0      Alabama     0.0     0.0      0.0     0.0      0.0     0.0    0
4  1105.0  Alabama A&M     0.0     0.0      0.0     0.0      0.0     0.0    0